{% extends "common/base.html"%}
{% load staticfiles %}
{% block css %}
    <!-- Datatables -->
    <link href="{% static "vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" %}" rel="stylesheet">
    <!-- Datatables -->
    <!-- 表单 -->
    <link href="{% static "vendors/google-code-prettify/bin/prettify.min.css" %}" rel="stylesheet">
    <link href="{% static "vendors/select2/dist/css/select2.min.css" %}" rel="stylesheet">
    <link href="{% static "vendors/switchery/dist/switchery.min.css" %}" rel="stylesheet">
    <link href="{% static "vendors/starrr/dist/starrr.css" %}" rel="stylesheet">
    <!-- 表单 -->
{% endblock %}
{% block content %}
<div class="right_col" role="main">
    <div class="col-md-12 col-sm-12 col-xs-12">
         <div class="x_panel">
             <div class="x_title">
                    <h2>添加主机</h2>
                 <div class="clearfix"></div>
             </div>
             <div class="x_content" id="">
                 {% csrf_token %}
                <form role="form" action="{% url 'CMDB:hosts_add' %}" method="post" id="add_host" onsubmit="return add_host('add_host',['hostname','ipaddress','app_cate_lift'])">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 col-sm-2 col-xs-2">
                                <label for="host_name" class="pull-right">主机名称:</label>
                            </div>
                            <div class="col-md-3 col-sm-3col-xs-3">
                                <input type="text" class="form-control" id="hostname" name="hostname" placeholder="host name">
                            </div>
                        </div>
                    </div>
                        <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 col-sm-2 col-xs-2">
                                <label for="host_name" class="pull-right">IP地址:</label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <input type="text" class="form-control" id="ipaddress" name="ipaddress" placeholder="192.168.1.1">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 col-sm-2 col-xs-2">
                                <label for="host_name" class="pull-right">所属区域:</label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <select class="form-control" id="host_area" name="area" autocomplete="off">
                                    {% for area in area_list %}
                                        <option value="{{ area.pk }}">{{ area.area_name }}</option>
                                    {% endfor %}
                                </select>
                                &nbsp;<a class="small" href="" style="color: red;text-decoration:underline" data-toggle="modal" data-target="#add_area_modal">添加</a>
                            </div>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 col-sm-2 col-xs-2">
                                <label for="host_name" class="pull-right">应用分组:</label>
                            </div>
                            <div class="col-md-5 col-sm-8 col-xs-8">
                                <table id="datatable">
                                	<tbody>
                                		<tr>
                                			<td>已添加分组</td>
                                			<td></td>
                                			<td>可用分组 &nbsp;<a class="small" href="" style="color: red;text-decoration:underline" data-toggle="modal" data-target="#modal">添加</a></td>
                                		</tr>
                                		<tr>
                                			<td>
                                				<select class="form-control" id="app_cate_lift" name="app_cate" autocomplete="off" multiple="multiple" size="8" style="width: 245px;">
                                				</select>
                                			</td>
                                			<td style="text-align:center;vertical-align:middle;">
                                                <button type="button" class="btn btn-default btn-xs" onclick="moveListBoxSelectedItem('app_cate_right','app_cate_lift')"><<<</button>
                                                <br>
                                                <button type="button" class="btn btn-default btn-xs" onclick="moveListBoxSelectedItem('app_cate_lift','app_cate_right')">>>></button>
                                			</td>
                                			<td>
                                				<select class="form-control" id="app_cate_right" multiple="multiple" size="8" style="width: 245px;">
                                                    {% for app_cate in app_cate_list %}
                                                        <option value="{{ app_cate.pk }}">{{ app_cate.app_category_name }}</option>
                                                    {% endfor %}
                                				</select>
                                			</td>
                                		</tr>
                                	</tbody>
                                </table>
                            </div>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 col-sm-2 col-xs-2">
                                <label class="pull-right">Enabed:</label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <input type="checkbox" id="enabled" name="enabled" checked="checked">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 col-sm-2 col-xs-2">
                                <label for="host_name" class="pull-right"> </label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <button type="submit" class="btn btn-primary">添加</button>
                                <button type="button" class="btn btn-default">取消</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
         </div>
    </div>
</div>
<div class="modal fade" id="add_area_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4>添加AWS区域信息
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </h4>
            </div>
            <div class="modal-body">
                 <form role="form" action="{% url 'CMDB:area' %}" method="post" id="add_area" onsubmit="return add_form_data('add_area','area','close');">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label class="pull-right">区域名称:</label>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-4">
                                <input type="text" class="form-control" id="area_name" name="area_name" placeholder="区域名称" style="width: 200px;">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label class="pull-right">AWS账号:</label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <input id="area_account" name="area_account" placeholder="可选项" style="width: 200px;" class="form-control">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label class="pull-right">AWS密码:</label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <input id="area_password" name="area_password" type="password" placeholder="可选项" style="width: 200px;" class="form-control">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label class="pull-right">API ACCEAA KEY:</label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <input id="area_access_key" name="area_access_key" placeholder="可选项" style="width: 200px;" class="form-control">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label class="pull-right">API PRIVATE KEY:</label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <input id="area_private_key" name="area_private_key" placeholder="可选项" style="width: 200px;" class="form-control">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label class="pull-right">AWS region:</label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <input id="area_region" name="area_region" placeholder="可选项" style="width: 200px;" class="form-control">
                            </div>
                        </div>
                    </div>
                     <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label class="pull-right">描述:</label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <textarea id="area_desc" name="area_desc" placeholder="可选项"></textarea>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label for="host_name" class="pull-right"> </label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <button type="submit" class="btn btn-primary" value="submit">添加</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" id="close">取消</button>
                            </div>
                        </div>
                    </div>
                 </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4>add app category
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </h4>
            </div>
            <div class="modal-body" id="update_m">
                 <form role="form" action="{% url 'CMDB:app_category' %}" method="post" id="add_app_cate" onsubmit="return add_form_data('add_app_cate','app_cate_right','close');">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label class="pull-right">应用分类名称:</label>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-4">
                                <input type="text" class="form-control" id="app_cate_name" name="app_cate_name" placeholder="分类名称" style="width: 200px;">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label class="pull-right">应用描述:</label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <textarea id="app_cate_desc" name="app_cate_desc"></textarea>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label for="host_name" class="pull-right"> </label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <button type="submit" class="btn btn-primary" value="submit">添加</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" id="close">取消</button>
                            </div>
                        </div>
                    </div>
                 </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
    <!-- Datatables -->
    <script src="{% static "vendors/datatables.net/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.form.js" %}"></script>
    <!-- Datatables -->

    <script>
      $(document).ready(function() {
        $('#datatable-responsive').DataTable();
      });
    </script>
{% endblock %}