<table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Host Name</th>
        <th>Area Name</th>
        <th>Host IP</th>
        <th>Group</th>
        <th>Status</th>
        <th>operating</th>
    </tr>
    </thead>
    <tbody>
    {% for host in host_list %}
    <tr>
        <td>{{ host.host_name }}</td>
        <td>{{ host.area }}</td>
        <td>{{ host.host_nip }}</td>
        <td>{{ host.group_id }}</td>
        <td><span style="color: green; ">Active</span></td>
        <td>
            <div class="btn-group  btn-group-sm">
                <button class="btn btn-default btn-xs" type="button" onclick="get_data('{{ host.host_name }}')" data-toggle="modal" data-target="#host_modal">详细信息</button>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>